<div class="app-chrome" :style="{'display': chrome.topChromeVisible ? '' : 'none'}">
    <div class="app-chrome--left">
        <div class="app-chrome-item full-height" v-if="chrome.windowControlPosition == 'left'">
            <div class="window-controls">
                <div class="close" @click="ipcRenderer.send('close')"></div>
                <div class="minimize" @click="ipcRenderer.send('minimize')"></div>
                <div class="minmax restore" v-if="chrome.maximized"
                     @click="ipcRenderer.send('maximize')">
                </div>
                <div class="minmax" v-else @click="ipcRenderer.send('maximize')"></div>
            </div>
        </div>
        <div class="app-chrome-item full-height" v-else>
            <button class="app-mainmenu"
                    @blur="mainMenuVisibility(false)"
                    @click="mainMenuVisibility(true)"
                    :class="{active: chrome.menuOpened}"></button>
        </div>
    </div>
    <div class="app-chrome--center">
        <sidebar-library-item :name="$root.getLz('home.title')" svg-icon="./assets/feather/home.svg"
                              page="home">
        </sidebar-library-item>
        <sidebar-library-item :name="$root.getLz('term.listenNow')"
                              svg-icon="./assets/feather/play-circle.svg"
                              page="listen_now"></sidebar-library-item>
        <sidebar-library-item :name="$root.getLz('term.browse')" svg-icon="./assets/feather/globe.svg"
                              page="browse">
        </sidebar-library-item>
        <sidebar-library-item :name="$root.getLz('term.radio')" svg-icon="./assets/feather/radio.svg"
                              page="radio">
        </sidebar-library-item>
    </div>
    <div class="app-chrome--right">
        <div class="app-chrome-item generic">
            <button class="playback-button--small miniplayer"
                    @click="drawer.open = false; miniPlayer(true)"></button>
        </div>
        <div class="app-chrome-item full-height" id="window-controls-container"
             v-if="chrome.windowControlPosition == 'right'">
            <div class="window-controls">
                <div class="minimize" @click="ipcRenderer.send('minimize')"></div>
                <div class="minmax restore" v-if="chrome.maximized"
                     @click="ipcRenderer.send('maximize')">
                </div>
                <div class="minmax" v-else @click="ipcRenderer.send('maximize')"></div>
                <div class="close" @click="ipcRenderer.send('close')"></div>
            </div>
        </div>
    </div>
</div>
